#container-payment {
    background-color: white;
    border: 2px solid #ed6524;
    width: 100%;
    border-radius: 15px;
    position: relative;
    padding: 1rem;
    margin-top: 1rem;
}
#container-payment::before {
    content: '';
    position: absolute;
    top: 0;
    left: 9%;
    width: 20px;
    height: 20px;
    background-color: white;
    border-top: 2px solid #ed6524;
    border-left: 2px solid #ed6524;
    transform: rotate(45deg) translateY(-75%);
}

.hidden {
    display: none !important;
}

#paymentbutton {
    border: 1px solid #ed6524;
    border-radius: 5px;
    color: white;
    padding-block: 0.5rem;
    width: 100%;
    background-color: #ed6524;
    font-weight: 700;
    text-align: center;
}